

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="homeloan">Home Loan</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="business">Business Loan</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="health">Health</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="travel">Travel</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="car">Car</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="life">Life</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
    
    </ul>
  </div>
  
</nav>



<router-outlet> </router-outlet>