<p>login works!</p>

<hr>
<br>

<div class="container-fluid" class="shadow-lg p-2 mb-1 bg-silver rounded">
    <div class="row">
        <div class="col" id="hide1"></div>
        <div class="col" style="align-items: center; padding:50px;background-color: beige;">
            <img src="../../../assets/login-2.jpg" style="border-radius: 20px 60px 20px 60px;" type="responsive">
            <br>
            <span>
                <h2><b>Konw About Insurance Policies</b></h2>
                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ea quo eveniet nam earum debitis
                    quisquam magnam, autem quasi. Commodi?</h6>
            </span>
        </div>

        <div class="col" style="background-color: beige;padding: 80px;">
            <img src="../../../assets/logo.png" style="margin-left: 64px;" class="shadow-lg p-2 mb-1 bg-silver rounded">

        <!-- <form name="myForm" #myForm="ngModel" (ngSubmit)="onSubmit(myForm)" class="shadow-lg p-2 mb-1 bg-silver rounded" style="background-color:rgb(204 217 235);">
                
                <div class="form-group">
                    <label for="num">Mobile number</label>
                    <input type="number" name="num" class="form-control" #num="ngModel" ngModel>
                </div>

                <div class="form-group">
                    <label for="cpass">Password</label>
                    <input type="password" name="pass"  class="form-control" #pass="ngModel" ngModel>
                </div>
                <br>
                <div class="form-group" style="text-align: center;">
                    <button class="btn btn-info">Submit</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-dark" type="reset">Clear</button>
                </div>
            </form> -->
        
        
        
        </div>
        <div class="col" id="hide1"></div>



    </div>
</div>